@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 90%;
	}

	.game-text,
	.battle-text {
		font-size: 22px;
	}

	.choice {
		font-size: 5rem;
		margin: 3rem;
	}

	.btn-reset {
		padding: 16px 24px;
		border: none;
		border-radius: 4px;
	}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
	.container {
		width: 95%;
	}

	.main-header h1 {
		font-size: 1.5rem;
	}

	.game-text,
	.battle-text {
		font-size: 14px;
	}

	.choice {
		font-size: 3.5rem;
		margin: 50px 0;
	}

	.score-title {
		font-size: 1rem;
	}

	.reset-game {
		bottom: 10%;
	}

	.btn-reset {
		padding: 8px 12px;
	}
}

@media screen and (max-width: 375px) {
	.container {
		width: 98%;
	}

	.main-header h1 {
		font-size: 1rem;
	}

	.game-text,
	.battle-text {
		font-size: 0.8rem;
	}

	.choice {
		font-size: 3rem;
		margin: 30px 0;
	}

	.score-title {
		font-size: 0.8rem;
	}

	.reset-game {
		bottom: 3%;
	}

	.btn-reset {
		padding: 10px 14px;
	}
}
